
html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

body {
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    margin: 1rem;
    flex-grow: 1;
}

header, footer {
    background: #eee;
    padding: 0.5rem;
}

footer {
    color: #666;
}

pre {
    background: #eee;
    padding: 1rem;
    overflow-x: auto;
}

td.failed {
    background: #f45342;
}

td.successful {
    background: #8ace3b;
}

tr:hover td.successful {
    background: #83bf3d;
}

tr:hover td.failed {
    background: #ec5444;
}

td>a {
    font-size: 0;
    font-weight: normal;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
}

thead th {
    font-size: 0;
    line-height: 0;
    max-width: 0;
    height: 2rem;
    width: 2rem;
}

thead th a {
    font-size: 1rem;
    display: block;
    transform: rotate(-90deg);
}

th {
    padding: 0.5rem;
}

table {
    border-spacing: 0;
    margin-top: 4rem;
}
