
html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

body {
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    margin: 1rem;
    flex-grow: 1;
}

header, footer {
    background: #eee;
    padding: 0.5rem;
}

footer {
    color: #666;
}

pre {
    background: #eee;
    padding: 1rem;
    overflow-x: auto;
}

.matrix td.empty {
    text-align: center;
}

.matrix tr:hover td.successful,
.matrix tr:hover td.empty {
    background: #eee;
}

.matrix td {
    padding: 0;
}

.matrix td>a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
}

.matrix thead th {
    font-size: 0;
    line-height: 0;
    max-width: 0;
    height: 2.5rem;
    width: 2.5rem;
}

.matrix thead th a {
    font-size: 1rem;
    display: block;
    transform: rotate(-90deg);
}

.matrix th {
    padding: 0.5rem;
}

table.matrix {
    margin-top: 4rem;
}

.matrix, .matrix th, .matrix td {
    border: none;
}

table {
    border-spacing: 0;
}

table, th, td {
    border: solid 0.5px #ddd;
}

th, td {
    padding: 0.5rem;
}
