
html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

body {
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    margin: 1rem;
    flex-grow: 1;
}

header, footer {
    background: #eee;
    padding: 0.5rem;
}

footer {
    color: #666;
}

footer a {
    color: inherit;
}

pre {
    background: #eee;
    padding: 1rem;
    overflow-x: auto;
}

.matrix td.empty {
    text-align: center;
}

.matrix td {
    padding: 0;
}

.matrix td>a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
}

.matrix thead th {
    font-size: 0;
    line-height: 0;
    max-width: 0;
    position: relative;
    height: 8rem;
    vertical-align: top;
}

.matrix thead th a {
    position: absolute;
    display: block;
    font-size: 1rem;
    white-space: nowrap;
    transform: translateX(-50%) rotate(-90deg) translate(50%);
    left: 50%;
    top: calc(100% - 0.5rem);
}

.matrix tbody tr th:first-child {
    white-space: nowrap;
    text-align: right;
}

.matrix th {
    padding: 0.5rem;
}

.matrix, .matrix th, .matrix td {
    border: none;
}

table {
    border-spacing: 0;
}

table, th, td {
    border: solid 0.5px #ddd;
}

th, td {
    padding: 0.5rem;
}
