<%
$.linkify = (text) => {
    const info = $.getLinkInfo(text)

    const title =
        info.type === 'pullRequest' && $.matrix ? $.matrix.getKeyTitle(text) :
        'View on GitHub'

    %>
        <a href="<%= info.url %>"
           title="<%= title %>"><%= text %></a>
    <%
}

const clamp = (n, min, max) =>
    Math.min(Math.max(n, min), max)

$.getCellStyle = merge => {
    if (!merge.conflicts) {
        return ''
    }

    const backgroundOpacity = clamp(
        Math.log(merge.conflicts.lineCount / 10) / 3,
        0.05, 1
    )

    const foreground = backgroundOpacity > 0.4 ? 'white' : '#444'

    return `background: rgba(244, 83, 66, ${backgroundOpacity});` +
           `color: ${foreground};`
}

$.getBranchOrPullDescr = (branchOrPullName) => {
    const title = $.matrix.getKeyTitle(branchOrPullName)
    return branchOrPullName + (title ? ' — ' + title : '')
}

$.defaultBranch = $.matrix.branchNames.length ? $.matrix.branchNames[0] :
    'master'

%>
