<%
$.linkify = text => {
    const url = $.getNameUrl(text)

    if (!url) {
        %><%= text %><%
        return
    }

    const title = text.startsWith('#') && $.matrix ?
                  $.matrix.getKeyTitle(text) : ''

    %>
        <a href="<%= url %>"
           title="<%= title %>"><%= text %></a>
    <%
}

const clamp = (n, min, max) =>
    Math.min(Math.max(n, min), max)

$.getCellStyle = merge => {
    if (!merge.conflicts) {
        return ''
    }

    const backgroundOpacity = clamp(
        Math.log(merge.conflicts.lineCount / 10) / 3,
        0.05, 1
    )

    const foreground = backgroundOpacity > 0.4 ? 'white' : '#444'

    return 'background: rgba(244, 83, 66, ' + backgroundOpacity + ');' +
           'color: ' + foreground + ';'
}
%>
